<h1>Showing Farm Details</h1>

<h2><%= @farm.name %></h2>
<p><%= @farm.description %></p>
<a href="<%= @farm.website %>" target="_blank">website</a>
<br>
<p><%= @farm.name %> is based in <%= @farm.country %>