<div class="container">    
  <div class="row justify-content-md-center">
    <div class="col-12 col-sm-8 mt-4">
      <div class="card text-center shadow mb-5 bg-white rounded">
        <div class="card-body">
          <h5 class="card-title"><%= @farm.name %></h5>
          <p class="card-text"><%= @farm.description %></p>
          <%= link_to "website", @farm.website, target: "_blank", class:"card_text" %>
          <p class="card-text">Country: <%= @farm.country %></p>
          <%= link_to "edit", edit_farm_path(@farm), class: "btn btn-outline-info" %>
          <%= link_to "delete", farms_path, class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
        </div>
        <div class="card-footer text-muted">
          <small>Created <%= time_ago_in_words(@farm.created_at) %> ago,
          edited <%= time_ago_in_words(@farm.updated_at) %> ago - added by 
          <%= @farm.user.username if @farm.user %></small>
        </div>
      </div>
    </div>
  </div> 
</div>

