<h1 class="text-center mt-4">Bug Types</h1>

<div class="flickr_pagination" %>
  <%= will_paginate @bug_types, :container => false %>
</div>

<div class="container">
  <% @bug_types.each do |bug_type| %>
    <div class="row justify-content-md-center">
      <div class="col-12 col-sm-4 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-body">
            <h5 class="card-title"><%= link_to bug_type.name, bug_type_path(bug_type), class: "text-success" %></h5>
            <p class="card-text"><%= pluralize(bug_type.farms.count, "farm") %></p>
          </div>
          <div class="card-footer text-muted">
            <small>Created <%= time_ago_in_words(bug_type.created_at) %> ago,
            edited <%= time_ago_in_words(bug_type.updated_at) %> ago</small> 
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="flickr_pagination" %>
  <%= will_paginate @bug_types, :container => false %>
</div>